useDynLib(SoftBart)
importFrom(glmnet, cv.glmnet)
importFrom(glmnet, predict.glmnet)
importFrom(graphics, par)
importFrom(graphics, image)
importFrom(graphics, abline, contour, lines, title)
importFrom(methods, new)
importFrom(Rcpp, evalCpp)
importFrom(Rcpp, Module)
importFrom(scales, muted)
importFrom(scales, alpha)
importFrom(stats, model.matrix)
importFrom(stats, predict)
importFrom(stats, quantile)
S3method(plot, softbart)
S3method(plot, pd2bart)
S3method(plot, pdbart)
S3method(predict, Rcpp_Forest)
export(softbart)
export(Hypers)
export(Opts)
export(MakeForest)
export(quantile_normalize_bart)
export(preprocess_df)
export(pdsoftbart)
